@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;1,400&family=Varela+Round&display=swap');

.sidebar {
    flex:3;
    margin:20px 0;
   padding-bottom:30px;
   background-color:#fdfbfd;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.sidebar-container {
    display: flex;
   flex-direction: column;
   align-items: center;
}
.sidebar-title {
    margin:10px;
    padding:5px;
    width:80%;
    border-top:1px solid #523dc9;
    border-bottom:1px solid #523dc9;
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    color:#222;
    font-weight: 600;
    text-align: center;
    line-height:20px;
}

.sidebar-img {
    margin-top:15px;
}
.sidebar p {
    padding: 30px;
}

.sidebar-list {
    list-style: none;
    width: 50%;
    margin-bottom:20px;
    display: inline-block;
    margin-top:15px;
    cursor:pointer;
    transition:0.3s ease-in;
}
.sidebar-list:hover {
    color:tomato;
}

.sidebar-social  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:15px;
}
.sidebar-social i {
    width:30px;
    height:30px;
    font-size: 30px;
    margin-right: 25px;
    transition:0.3s ease-in;
}
.sidebar-social i:hover {
    transform: translateY(-4px);
    color:tomato;
}