.write { 
    padding-top: 50px;
}
.write-img {
    margin-left: 150px;
    width: 70vw;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}
.form {
position: relative;
}
.form-group {
    margin-left: 150px;
    display: flex;
    align-items: center;
}
.write-icon {
    width:25px;
    height: 25px;
    border-radius:50px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 20px;
    color:rgb(112, 110, 110);
    cursor: pointer;
    transition: 0.4s ease-in;
}
.write-icon:hover {
    color:tomato
}
.write-input {
    font-size: 30px;
    border:none;
    padding:20px;
    width: 70vw;
}
.write-input:focus {
    outline: none;
}
.writeText {
  font-size: 20px;
  height: 100vh;
}
.submit {
    position: absolute;
    top:20px;
    right: 50px;
    color: #fff;
    background:teal;
    padding:11px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.4s;
}
.submit:hover {
    opacity:0.7;
}
